main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100%;
}

.app-title {
    grid-column: 1 / 3;
    padding: 0.5rem 1rem;
    box-shadow: 3px 5px 8px rgb(0, 0, 177), 6px 10px 8px red, 9px 15px 8px green;
    margin-block-end: 1.2rem;
}