.pokemonData {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: baseline;
}

.pokemonStats {
    background: hsl(0, 100%, 73%);
    padding: 1rem;
    border-radius: 8px;
}